.input {
  outline: none;
  background: transparent;
  border-radius: 4px;
  border: 2px solid green;
  width: 80%;
  color: aliceblue;
  height: 25px;
}

.inputerr {
  outline: none;
  background: transparent;
  border-radius: 4px;
  border: 2px solid rgb(255, 42, 4);
  width: 80%;
  color: aliceblue;
  height: 25px;
}

.inputdes {
  outline: none;
  height: 200px;
  width: 100%;
  background: transparent;
  border-radius: 4px;
  border: 2px solid green;
  resize: none;
  color: aliceblue;
}

.inputDesErr {
  outline: none;
  height: 200px;
  width: 100%;
  background: transparent;
  border-radius: 2px;
  border: 4px solid rgb(255, 10, 2);
  resize: none;
  color: aliceblue;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s !important; /* Evitar el color de fondo */
  color: #ffffff !important; /* Asegura que el texto del input sea negro */
  caret-color: #ffffff !important; /* Asegura que el cursor sea negro */
}

.inputerr:-webkit-autofill,
.inputerr:-webkit-autofill:hover,
.inputerr:-webkit-autofill:focus,
.inputerr:-webkit-autofill:active {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s !important; /* Evitar el color de fondo */
  color: #ffffff !important; /* Asegura que el texto del input sea negro */
  caret-color: #ffffff !important; /* Asegura que el cursor sea negro */
}

.inputdes:-webkit-autofill,
.inputdes:-webkit-autofill:hover,
.inputdes:-webkit-autofill:focus,
.inputdes:-webkit-autofill:active {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s !important; /* Evitar el color de fondo */
  color: #ffffff !important; /* Asegura que el texto del input sea negro */
  caret-color: #ffffff !important; /* Asegura que el cursor sea negro */
}
