---

---

<nav>
  <ul class="flex justify-evenly relative bg-red-900">
    <lis class="bg-red-900">retertert</lis>
    <li>etetret</li>
    <li>ertet</li>
    <li>etet</li>
    <li>etet</li>
  </ul>
</nav>
