---

---

<header class="opacity-100 -z-10 h-4/5">
  <div class="relative">
    <div class="flex justify-center items-center p-0 m-0 relative">
      <div
        class="w-auto h-auto relative border-[20px] border-transparent bg-gradient-to-bl from-custom-blue to-custom-blue-1 box-border rounded-full"
      >
        <img
          class="w-[300px] h-[300px] rounded-full"
          src="/imagen/IMG_20240111_203125_1.jpg"
          alt=""
        />
      </div>

      <div
        class="rounded-[30px] w-[1000px] font-medium justify-center items-center mt-9 mr-2 text-center drop-shadow-3xl -ml-20 h-[400px]"
      >
        <h1
          class="pt-0 text-[100px] mt-14 rounded-r-full bg-gradient-to-r from-custom-blue to-custom-blue-1"
        >
          Eduardo Abrego
        </h1>

        <div class="relative text-center">
          <h1 class="animate-slidein text-center mt-14 text-[50px]">
            Full-Stack Developer
          </h1>
        </div>
      </div>
    </div>

    <div class="min-h-32 mb-8 relative text-[25px] flex justify-center">
      <div class="w-[1000px] text-center">
        <p class="text-cyan-50">
          Busco inspirar y cautivar a través de cada proyecto que realizo. Me
          considero un solucionador de problemas creativo, siempre buscando
          nuevas formas de abordar los desafíos que me permitan expandir mis
          habilidades y conocimientos, encontrando soluciones innovadoras que
          dejen una huella duradera.
        </p>
      </div>
    </div>

    <div class="flex justify-center m-3">
      <ul
        class="list-none flex justify-evenly w-1/2 h-12 relative [&>li]:text-center [&>li]:transition-all [&>li]:min-w-24 [&>li>a>i]:text-[40px] [&>li>a>i]:text-center [&>li>a>i]: m-1"
      >
        <li class="hover:scale-125">
          <a target="_blank" href="https://www.linkedin.com/in/eduardoabrego">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>

        <li class="hover:scale-125">
          <a href="">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>

        <li class="hover:scale-125">
          <a href="">
            <i class="fa-regular fa-envelope" style="color: #f7f9fd;"></i>
          </a>
        </li>

        <li class="hover:scale-125">
          <a href="">
            <i class="fa-solid fa-download" style="color: #ffffff;"></i>
          </a>
        </li>
      </ul>
    </div>

    <hr class="w-[8/10] h-1 text-white mx-60" />
  </div>
</header>

<style></style>
