---

---

<nav class="bg-custom-blue1 fixed z-10 w-full top-0">
  <ul class="flex justify-evenly mr-0 relative">
    <li
      class="bg-custom-bg backdrop-custom-blur m-2 lg:m-6 h-14 flex justify-center items-center p-3 rounded-xl transition-all duration-500 ease-in-out hover:scale-125"
    >
      <a href="#">Inicio</a>
    </li>
    <li
      class="bg-custom-bg backdrop-custom-blur m-2 lg:m-6 h-14 flex justify-center items-center p-3 rounded-xl transition-all duration-500 ease-in-out hover:scale-125"
    >
      <a href="index.html#proyectos">Proyectos</a>
    </li>
    <li
      class="bg-custom-bg backdrop-custom-blur m-2 lg:m-6 h-14 flex justify-center items-center p-3 rounded-xl transition-all duration-500 ease-in-out hover:scale-125"
    >
      <a href="index.html#About">About</a>
    </li>
    <li
      class="bg-custom-bg backdrop-custom-blur m-2 lg:m-6 h-14 flex justify-center items-center p-3 rounded-xl transition-all duration-500 ease-in-out hover:scale-125"
    >
      <a href="index.html#contacto">Contacto</a>
    </li>
  </ul>
</nav>
