---

---

<nav>
  <ul class="">
    <li class="glass cont">
      <a href="#">Inicio</a>
    </li>
    <li class="glass cont">
      <a href="index.html#proyectos">Proyectos</a>
    </li>
    <li class="glass cont">
      <a href="index.html#About">About</a>
    </li>
    <li class="glass cont">
      <a href="index.html#contacto">Contacto</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    background: rgb(53, 96, 189);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
  }

  .glass {
    background: #fefeff10;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.4rem);
  }
  .cont {
    margin: 30px;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    border-radius: 10%;
    transition: all 0.5s ease;
  }

  .cont:hover {
    scale: 1.5;
  }
  .ul {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-evenly;
  }
</style>
